<div class="menu">
  <a href="/">
    <img src="assets/logolp.png" alt="Logo" class="logo" style="width: 200px" />
  </a>

  <div class="search">
    <input
      type="text"
      placeholder="Search news by keyword"
      [(ngModel)]="searchTerm"
      (keyup.enter)="searchArticles()"
      style="width: 100%"
    />
    <button (click)="searchArticles()">Search</button>
  </div>
</div>

<app-news-list
  *ngIf="searchResults.length > 0"
  [articles]="searchResults"
></app-news-list>
<app-news-list
  *ngIf="searchResults.length === 0 && topHeadlines.length > 0"
  [articles]="topHeadlines"
></app-news-list>
<div
  *ngIf="searchResults.length === 0 && topHeadlines.length === 0 && !loading"
  style="margin-top: 200px; display: grid; place-items: center"
>
  <p>No articles found.</p>
</div>
<div
  *ngIf="loading"
  style="margin-top: 200px; display: grid; place-items: center"
>
  <h1>Loading...</h1>
</div>
